.sub-titulo{
    background: #FFD26E;
    font-family: 'Itim', cursive; 
    justify-content: center;
    display: flex; 
    padding-block: 0.5rem;
    font-size: 1.4rem;
}

.paragrafo-1{
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}

.paragrafo-1, .paragrafo-2{
    font-family: 'Gelasio', serif; 
    font-size: 1.4rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    text-align: justify;
    text-indent: 3rem;
    padding-bottom: 0.8rem;
}

.paragrafo-2{
    padding-bottom: 2.5rem;
}

.massa-atomica{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

