.sub-titulo{
    background: #FFD26E;
    font-family: 'Itim', cursive; 
    justify-content: center;
    display: flex; 
    padding-block: 0.5rem;
    font-size: 1.4rem;
}

.paragrafo-1, .paragrafo-6{
    padding-top: 1.5rem;
}

.paragrafo-2, .paragrafo-3, .paragrafo-4, .paragrafo-7{
    margin-bottom: 1.5rem;
}

.paragrafo-1, .paragrafo-2, .paragrafo-3, .paragrafo-4, .paragrafo-5, 
.paragrafo-6, .paragrafo-7, .paragrafo-8, .paragrafo-9{
    font-family: 'Gelasio', serif; 
    font-size: 1.4rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    text-align: justify;
    text-indent: 3rem;
    padding-bottom: 0.8rem;
}

.atomo, .thomson, .soddy, .soddy-2{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

